@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Lexend Deca';
  src: url('/fonts/LexendDeca-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-display: swap;
}

:root {
  --font-lexend-deca: 'Lexend Deca', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-lexend-deca);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
